<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Task stdout</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div th:unless="${ taskStdout == null }">
    <h2>Task id: <span th:text="${ taskStdout.getChainTaskId() }"></span></h2>

    <div th:each="entry : ${ taskStdout.replicateStdoutList }">
      <p><strong>Replicate: </strong><span th:text="${ entry.getWalletAddress() }"></span> </p>
      <code th:utext='${ entry.getStdout().replaceAll("\n", "</br>") }'></code>
      <br>
    </div>
  </div>

  <div th:unless="${ taskStdout != null }">
    <h2>Task not found</h2>
  </div>


  <style>
    body {
      padding-left: 3em;
    }
  </style>
</body>